@charset "UTF-8";

* {
	font-family: "M PLUS Rounded 1c"; 
}


/*
body {
	z-index: 1;
}


body::after {
	content: '';
	background-image: url("/resources/images/home_workout1.jpg");
	background-size:cover;
  	opacity: 0.7;
  	display: block;
  	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100vh;
	width : 100vw;
  	z-index: -1;
}	
*/

div#picture {
	opacity: 0.8;
  	display: block;
  	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100vh;
	width : 100vw;;
	background-image: url("/resources/images/home_workout1.jpg");
	background-size:cover;
	z-index: -1;
}


#outWrapper {
	width: 600px;
	margin: 0 auto;
	opacity: 0.7;
	text-align: center;
	margin-top: 150px;
}

#basic-addon1 {
	width: 100px;
}

#basic-addon2{
	width: 100px;
}

#basic-addon3 {
	width: 100px;
}

#basic-addon4 {
	width: 100px;
}


#loginButton {
	width: 250px;
	margin-top: 30px;
	opacity: 0.8;
	font-weight: 900px;
	color: white;
}

#loginButtonDiv {
	width: 250px;
	
	margin: 0 auto;
}

#updateButton {
	width: 650px;
	margin-top: 15px;
	opacity: 0.8;
	font-weight: 900px;
	color: white;
}

#updateButtonDiv {
	width: 650px;
	
	margin: 0 auto;
}

input[type=radio]  {
	opacity: 0.1;
	font-weight: 900px;
	color: white;
}

#labelForMale {
	font-size: 1.2em;
	font-weight: 900;
	background-color: black;
	opacity: 0.8;
}

#labelForFemale {
	font-size: 1.2em;
	font-weight: 900;
	background-color: black;
	opacity: 0.8;
}


